<div class="content-container">

	<h1>DoCheck</h1>

	<p class="paragraph">This is the third lifecycle hook and is executed after the ngOnInit lifecycle hook.</p>

	<p class="paragraph">The ngDoCheck method runs before every time Angular checks a component's template for changes.</p>

	<p class="paragraph">It allows you to define custom change detection logic for your component class and allows you to check for changes outside the angular's default mechanism.</p>

	<p class="paragraph">This method is called frequently, so any operation you perform here impacts performance significantly. Use it for debugging purpose only.</p>

</div>