<div class="content-container">

	<h1>AfterViewInit</h1>

	<p class="paragraph">This is the sixth hook method and is executed after the ngAfterContentChecked hook method.</p>

	<p class="paragraph">Angular calls this method when our component's view and its child component's views are fully initialized.</p>

	<p class="paragraph">It is called only once in the life cycle of a component.</p>

	<p class="paragraph">Here, we can access the html elements from the template using &#64;ViewChild and &#64;ViewChildren decorators.</p>

</div>