<div class="content-container">

	<h1>Attribute Directives</h1>

	<p class="paragraph">Structural directives are responsible for HTML layout. They shape or reshape the DOM's structure, typically by adding, removing, and manipulating the host elements to which they are attached.</p>

	<table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="directive">
            <th mat-header-cell *matHeaderCellDef>Built In Common Directives</th>
            <td mat-cell *matCellDef="let element">{{ element.directive }}</td>
        </ng-container>

        <ng-container matColumnDef="directiveDetail">
            <th mat-header-cell *matHeaderCellDef>Details</th>
            <td mat-cell *matCellDef="let element">{{ element.directiveDetail }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

</div>