<div class="nav-container">
	@for (navItem of navItems(); track navItem) {
		@if (navItem.link) {
			<a
				[class.root-link]="navItem.isRoot"
				[routerLink]="navItem.link"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				{{ navItem.title }}
			</a>
		} @else if (navItem.children?.length) {
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					{{ navItem.title }}
				</mat-expansion-panel-header>
				<app-nav-list [navItems]="navItem.children!" />
			</mat-expansion-panel>
		}
	}
</div>