<div class="content-container">

	<h1>AfterContentChecked</h1>

	<p class="paragraph">This is the fifth life cycle hook and is executed after the ngAfterContentInit hook method.</p>

	<p class="paragraph">The ngAfterContentChecked method runs every time the children nested inside the component (its content) have been checked for changes.</p>

	<p class="paragraph">This hook method is called even if we don't project any external content in our component.</p>

	<p class="paragraph">This method runs very frequently and can significantly impact your page's performance. Avoid defining this hook whenever possible, only using it when you have no alternative.</p>

</div>