<div class="content-container">

	<h1>AfterContentInit</h1>

	<p class="paragraph">This is the fourth life cycle hook and is executed after the ngDoCheck hook method.</p>

	<p class="paragraph">Whenever there is any external component's content (content from the parent component) available and we want to project that content into our component's view, then after the completion of this content projection, this hook method is called.</p>

	<p class="paragraph">It is called only once in the component life cycle. It is called even if we don't project any external content in our component's view from the parent component.</p>

	<p class="paragraph">Angular initializes the the &#64;ContentChild and &#64;ContentChildren before this hook method, and so these properties are available to access in this hook method.</p>

</div>