/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core;

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$light-primary: mat.define-palette(mat.$indigo-palette, 500);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-typography: mat.define-typography-config($font-family: 'Poppins, sans-serif');

$light-theme: mat.define-light-theme((
	color: (
		primary: $light-primary,
		accent: $light-accent
	),
	typography: $my-typography
));

@include mat.all-component-themes($light-theme);

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

div.content-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

div.content-container h1 {
	margin: 0;
	word-break: break-all;
}

p.paragraph {
	display: block;
	margin: 0;
	padding: 1rem;
	border: 2px solid #FF4081;
	background-color: #FCE4EC;
	border-radius: 4px;
}