<div class="content-container">

	<h1>AfterViewChecked</h1>

	<p class="paragraph">This is the seventh life cycle hook and executes after the ngAfterViewInit hook.</p>

	<p class="paragraph">The ngAfterViewChecked method runs every time the children in the component's template (its view) have been checked for changes.</p>

	<p class="paragraph">This method runs very frequently and can significantly impact your page's performance. Avoid defining this hook whenever possible, only using it when you have no alternative.</p>

</div>